:root {
  --primary-color: #dfa53d;
  --secondary-color: #f4e1bd;
  --tertiary-color: #858b6b;
  --heading-font-family: "Fraunces", serif;
  --body-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  color: var(--primary-color);
  text-align: center;
  margin-top: 30px;
}

p {
  font-family: var(--body-font-family);
  font-size: 17px;
  color: var(--primary-color);
  margin: 0px 15px 30px 15px;
  text-align: left;
}

.skills {
  font-family: var(--body-font-family);
  color: #dfa53d;
}

.tags {
  font-family: "Caveat", cursive;
  font-size: 60px;
  font-weight: 500;
}

.navbar {
  background: var(--secondary-color) !important;
}

.hero {
  background: #f4e1bd;
}

.navbar-nav {
  margin-top: 8px;
}

.nav-link {
  font-family: var(--body-font-family);
  color: var(--primary-color) !important;
}

.footer {
  background: var(--secondary-color);
  font-family: var(--body-font-family);
  display: block;
}

.btn-outline-warning {
  color: var(--primary-color);
  border: 2px solid var(--primary-color) !important;
  display: block;
  margin: auto;
  max-width: 150px;
}

.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.footer-item {
  font-size: 20px;
  color: #dfa53d;
}

.fab,
.fas {
  font-size: 35px;
  color: var(--primary-color);
}

.coder {
  font-size: 15px;
}

@media (max-width: 576px) {
  .self {
    display: none;
  }

  h1 {
    font-size: 35px;
    margin-top: 0;
  }
}
