:root {
  --primary-color: #dfa53d;
  --secondary-color: #f4e1bd;
  --tertiary-color: #858b6b;
  --heading-font-family: "Fraunces", serif;
  --body-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  text-align: center;
  margin-top: 50px;
}

p {
  font-family: var(--body-font-family);
  color: var(--primary-color);
  margin: 0px 15px 30px 15px;
  text-align: center;
}
.navbar {
  background: var(--secondary-color) !important;
}

.hero {
  background: #f4e1bd;
}

.navbar-nav {
  margin-top: 8px;
}

.nav-link {
  font-family: var(--body-font-family);
  color: var(--primary-color) !important;
}
